/* Font family*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Adjusting */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Public Sans";
}

/* General */
.btn-gradient {
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

/* Hover for btn-gradient */
.btn-gradient:hover {
    color: hsl(0, 0%, 100%);
    filter: opacity(0.75);
}

/* Navbar */
#nav-content .item {
    position: relative;
    overflow: hidden;
}
#nav-content .link {
    color: hsl(233, 8%, 62%);
}


/* Hover for Nav */
#nav-content .item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(-100%);
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    transition: 0.5s ease-in-out;
}
#nav-content .item:hover.item:after,
#nav-content .link:hover.item:after{
    left: 0;
}
#nav-content .link:hover {
    color: hsl(233, 8%, 62%);
}

/* Navbar Mobile */
#portal {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
#portal.show {
    z-index: 3;
}
.nav-mobile {
    width: 100%;

    position: absolute;
    top: calc(24px);
    z-index: 2;
}
.nav-mobile ul {
    width: clamp(288px, 90%, 383px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;

    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}
.nav-mobile ul .item {
    cursor: pointer;
}
.nav-mobile ul .item .link {
    color: hsl(233, 26%, 24%);
}
.background-displayed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.7);
}

/* Main */


/* Header */
.header-container {
    overflow-y: visible;
    overflow-x: hidden;
    position: relative;
}
.header-phones {
    position: absolute;
    top: calc(-5%);
    right: calc(-7.5%);
    z-index: 2;
    width: 650px
}

.header {
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;
}
.header-subcontainer {
    display: flex;
}
.header-content {
    width: 40%;
}
.header-title {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.header-paragraph {
    font-size: 1rem;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
.header-decoration {
    width: 60%;
}
.header-background,
.header-phones {
    position: absolute;
}
.header-background {
    width: 200%;
    height: 200%;
    top: calc(-50%);
    right: calc(-100%);
}

/* Section */
.section-part-1 {
    background-color: hsl(220, 16%, 96%);
}
.section-part-2 {
    background-color: hsl(0, 0%, 98%);
}

.section-title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.section-content {
    width: 50%;
    font-size: 1.125rem;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}

/* Article */
.article-icons .figure-img {
    max-width: 90%;
    max-height: 90%
}

.article-imgs .figure-img {
    width: 100%;
    height: 225px;
}

/* Figure */
.figure-content {
    height: 100%;
    border-radius: 0.75rem;
}
.figure-card {
    background-color: hsl(0, 0%, 100%);
}
.figure-img {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.figcaption-title {
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}
.article-icons .figcaption-title {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
.article-imgs .figcaption-title {
    font-size: 1.125rem;
}
.figcaption-author,
.figcaption-description {
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
}
.article-imgs .figcaption-author {
    font-size: 0.75rem;
}

/* Footer */
.footer {
    background: hsl(233, 26%, 24%);
    color: hsl(0, 0%, 100%);
}
.footer .row {
    justify-content: space-between;
}
.footer-social {
    display: flex;
    gap: 1rem;
}
.footer .item {
    cursor: pointer;
}
.footer .link {
    color: hsl(0, 0%, 100%);
}

/* Hover for Footer */
.footer .item:hover .link {
    color: hsl(136, 65%, 51%);
}
.footer .social-media:hover 
.img-social-media > path {
    fill: hsl(136, 65%, 51%);
}

/* Media queries to responsive design */
@media (max-width: 1024px) {
    /* Navbar */
    #nav-content,
    #button-request {
        display: none !important;
    }
    #nav-button {
        display: block;
        margin-left: auto;
    }
}

@media (max-width: 992px) {
    .article-imgs .figure-img {
        height: 250px;
    }
    .header-phones {
        height: 630px;
        width: 515px;
        left: calc(50% - 257.5px);
    }
    .header-subcontainer {
        flex-direction: column-reverse;
    }
    .header-decoration {
        width: 348px;
        aspect-ratio: 1;
    }
    .header-background {
        object-fit: cover;
        width: 300%;
        top: calc(-75%);
        left: calc(-50%);
    }
    .header-content {
        width: 100%;
        z-index: 2;
    }
    .main {
        text-align: center;
    }
    .section-content {
        width: 100%;
    }
    .footer .row {
        text-align: center;
        align-items: center;
    }
    .footer-social {
        justify-content: center;
    }
    .footer-navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
    }
    .footer-navbar .navbar-nav {
        text-align: center;
        width: 200px;
    }
    .footer .btn-gradient {
        margin-top: 1.5rem;
    }
}

@media (width: 992px) {
    .header-background {
        object-fit: cover;
        width: 400%;
        top: calc(-80%);
        left: calc(-50%);
    }
}

@media (max-width: 576px) {
    .header-phones {
        height: 472.5px;
        width: 386.25px;
        top: -30px;
        left: calc(50% - 193px);
    }
    .header-background {
        width: 200%;
        top: calc(-50%);
        left: calc(-15%);
    }
}

@media (max-width: 400px) {
    .header-phones {
        height: auto;
        width: 300px;
        top: 30px;
        left: calc(50% - 150px);
    }
}